*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-class{
    /* height: 400px; */
    width: 300px;
    border: 1px solid black;
    overflow: hidden;
}

.business{
    width: 400px;
    transition: transform 0.2s;
    height: 200px;
    padding-right: 90px;
}

.business:hover{
    transform: scale(1.1);
}

h3{
    font-family:sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
    color: #394a63;
}